* {
    padding:0 ;
    margin:0 ;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}
/* heading  */ 
#heading {
    background-color: #e66120;
    text-align: center;
    color:white ;
    box-sizing: border-box;
    padding:20px ;
    font-size: 30px ;
}
section#heading span {
    border-bottom:1px solid white ;
    box-sizing: border-box;
    display: block ;
}
section#heading i {
    margin-left:20px ;
    font-size: 40px ;
}
  /* main section  */
  section#main-section {
      background-color: whitesmoke;
      margin-top:-20px ;
      padding:50px ;
  }
  div#main-container {
      display:grid ;
      grid-template-columns: 3fr 1fr;
      grid-gap:3rem ;
      max-width:1200px ;
      margin:0 auto ;
  }
  div#table-container {
      justify-self: right ;
      overflow-x: auto;
  }
  table , tr , th , td {
      border:1px solid #aaa ;
      border-collapse: collapse;
      line-height: 2;
      padding-left:15px ;
  }
  td , th {
      min-width:72px ;
  }
/* contact details  */
div#contact-details {
    font-weight:lighter ;
    justify-self: left;
    padding-top:50px ;
    word-break: break-all;
}
div#contact-details #title {
    font-size:18px ;
}
div#contact-details #txt {
    color:#e66120 ;
    font-size:14px ;
}

@media ( max-width:768px) { 
    div#main-container {
        display:block ;
    }
    section#main-section{
        padding:10px ;
        font-size:10px ;
    }
    table, tr , th , td {
        padding-left:3px ;
    }
}