* {
    padding:0 ;
    margin:0 ;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}
/* heading  */ 
#heading {
    background-color: #e66120;
    text-align: center;
    color:white ;
    box-sizing: border-box;
    padding:20px ;
    font-size: 30px ;
}
section#heading span {
    border-bottom:1px solid white ;
    box-sizing: border-box;
    padding-bottom: 10px ;
    display: block ;
}
section#heading i {
    margin-left:20px ;
    font-size: 40px ;
}
/* main-section  */
section#main-section {
    margin:0 auto ;
    padding:40px ;
    background-color: whitesmoke ;
}
div#main-section-div {
    max-width:1200px ;
    margin:0 auto ;
    display:grid ;
    grid-template-columns: 2fr 1fr ;
    grid-column-gap: 2rem ;
}
div.flights-location-container {
    display:grid ;
    grid-gap:2rem ;
}
div.flight-box {
    display:grid ;
    grid-template-columns: 2fr 3fr ;
    outline:1px solid #aaa ;
    cursor: pointer;
    margin:20px auto ;
}
div.flight-box:hover {
    outline : 0.5px solid red ; 
}
div.more-info {
   background-color: #e66120  ;
   text-align:center ;
   line-height:120px  ;
}
div.more-info span{
   background-color: white ;
   color:#e66120 ;
   padding:10px ;
   border-radius:20px ;
}
div.details {
    position:relative ;
    background-color: white ;
}
div.route {
    box-sizing: border-box;
    border-bottom:1px solid #aaa ;
    padding-left : 10px ;
    padding:15px 10px ;
    height:50px ;
}
div.description{
    display: grid;
    grid-template-columns: 2fr 3fr ;
}
div.frequency {
    float:left ;
    height:70px ;
    box-sizing: border-box;
    padding:10px ;
    border-right:1px solid #aaa ;
}
div.frequency span {
    color:#aaa ;
    font-size: 14px ;
}
div.travelling-time {
    box-sizing: border-box;
    padding:10px ;
    height:70px ;
}
div.travelling-time span {
    color:#aaa ;
    font-size: 14px ;
    padding-left:10px; 
}
div.route::after {
    content: " ";
    position:absolute ;
    top:50% ;
    right:100% ;
    margin-top:-10px ;
    border-width: 10px ;
    border-style: solid;
    border-color:transparent whitesmoke transparent transparent ;
}
/* contact details  */
div#contact-details {
    font-weight:lighter ;
    word-break: break-all;
}
div#contact-details #title {
    font-size:18px ;
}
div#contact-details #txt {
    color:#e66120 ;
    font-size:14px ;
}
@media ( max-width:768px) { 
    /* main-section  */
    div#main-section-div {
        display:block ;
    }
}
@media ( max-width:425px)  {
    section#main-section {
        padding:10px ;
    }
    div.flight-box{
        display:grid ;
        grid-template-columns: 1fr;
        grid-template-rows:60px auto;
    }
    div.more-info  {
        line-height:60px ;
    }
    div.route::after {
        top:-10px ;
        left:50% ;
        border-width: 10px ;
        margin-left:-10px ;
        border-style: solid;
        border-color:transparent transparent whitesmoke  transparent ;
    }
} 
@media ( max-width:320px) {
    div.description  {
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: auto auto ;
    }
    div.frequency {
        border-right:none ;
        border-bottom:1px solid #aaa ;
    }
}  