* {
    padding:0 ;
    margin:0 ;
}
/*navigation bar styling */
header {
    background-color: #333;
    position: sticky;
    top:0px ;
    z-index: 10 ;
}
nav {
    max-width: 1200px;
    margin:0px auto ;
    height:50px ;
    line-height: 50px ;
}
span.logo img {
    box-sizing: border-box;
    padding-top: 8px ;
    display: inline-block ;
}
#nav-icon {
    display: none;
}
ul.menu-items {
    list-style-type: none;
    margin:0 ;
    padding:0 ;
    float:right ;
}
ul.menu-items li {
    display:inline ;
}
ul.menu-items li a{
    text-decoration: none;
    padding:5px ;
    color:white ;
}
ul.menu-items li a.active-link {
    color:#fc7e2f ;
}
ul.menu-items li:hover a{
    color:#fc7e2f;
}
/* heading section styling  */
section#heading {
    background-color: #eee;
    height:120px ;
    display:fixed ;
    /* z-index:-20 ; */
    top:0 ;
}
section#heading div {
    max-width:1200px ;
    margin:0 auto ;
    line-height:120px ;
    position:relative ;
    /* position:fixed ; */
    top:0 ;
    /* z-index:-20 ; */
}
#text {
    position:absolute ;
    display:block;
    bottom:0% ;
    font-family:verdena ;
    right:0% ;
    font-size:25px ;
    font-weight: lighter;
    right:10% ;
}
/* form section  */
#form-container {
    max-width:500px ;
    margin:40px auto ;
    border:1px solid #888 ;
    background-color:#eee ;
}
#form-container #form-heading {
    background-color: #555;
    color:white ;
    font-size:18px ;
}
#form-heading i {
    padding:10px ;
    font-size:16px ;
}
#form-box {
    padding:10px 20px ;
    position:relative ;
}
#form-box >div {
    margin-top:15px ;
}
div.alert {
    margin-bottom: 15px ;
    background-color:#e48770c4 ;
    background-color: #fab7b7;
    font-size:12px ;
    box-sizing: border-box;
    padding:5px 10px ;
    color:#444 ;
    display:none ;
}
input {
    width:100% ;
    box-sizing: border-box;
    height:30px ;
    margin-top:5px ;
    padding:5px 10px ;
    font-size:12px ;
    outline:0.2px solid #aaa ;
    border:none ;
}
input[type="submit"] {
    height:35px ;
    background-color: #fc7e2f;
    border:none ;
    color:white ;
    font-size:16px ;
}
input:focus {
    outline-color:#333 ;
    height:40px ;
}
div#forgot_password   {
    margin:10px 0 ;
    margin-left:-3px ;
    color:#fc7e2f ;
    font-size: 14px ;
    cursor:pointer ;
}
#signup {
    margin-top:25px ;
    margin-bottom:20px ;
    font-size:14px ;
    margin-left :10px ;
    color:#333 ;
}
#signup a {
    text-decoration:none ;
    color:#fc7e2f ;
    font-size:16px ;
    margin-left:4px ;
}
/* footer  */
footer {
    background-color: #333;
    text-align: center;
    padding:20px 10px ;
    color:white ;
}
.fa {
    padding:15px ;
    font-size:20px ;
    width:20
    px ;
    text-align:center ;
    text-decoration: none;
    margin:3px 1px ;
    color:white ;
    border-radius:17px ;
}
.fa-facebook {
    background:#3b5998 ;
}
.fa-google {
    background:#dd4b39 ;
}
.fa-youtube {
    background:#125688 ;
}
.fa-instagram {
    background: #cb2027 ;
}

@media ( max-width:768px) {
    /* navigation bar styling */
    ul.menu-items {
        float:left ;
        clear:left ;
        width:100%;
        text-align:center ;
        line-height:25px ;
        font-size:12px ;
    }
    ul.menu-items li {
        display:inline-block;
        background-color:#444; 
        color:white ;
        width:100% ;
    }
    ul.menu-items li:hover a {
        color:#fc7e2f;
    }
    #nav-icon {
        display: block;
        float:right ;
        height:50px ;
        width:50px ;
        text-align: center;
        font-size: 30px ;
        background-color:#111 ;
        color:white ;
        cursor:pointer ;
    }
     .toggle  {
        display:none ;
    }
     .collapse {
        display:block;
     }
    .collapse li {
        display: inline-block !important;
    }        
    #nav-icon:before {
        content:'\f0c9 ' ;
        font-family: fontAwesome;
    }
}