* {
    padding:0 ;
    margin:0 ;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}
/* heading section styling  */
section#heading {
    background-color: #eee;
    min-height:120px ;
    display:fixed ;
    top:0 ;
}
section#heading div {
    max-width:1200px ;
    margin:0 auto ;
    line-height:120px ;
    position:relative ;
    top:0 ;
}
#text {
    position:absolute ;
    display:block;
    bottom:0% ;
    font-family:verdena ;
    right:0% ;
    font-size:25px ;
    font-weight: lighter;
    right:10% ;
}
/* form section  */
#form-section {
    padding:10px ;
}
#form-container {
    max-width:500px ;
    margin:40px auto ;
    border:1px solid #888 ;
    background-color:#eee ;
    box-shadow: 3px 2px 4px 1px #888;
}
#form-container #form-heading {
    background-color: #555;
    color:white ;
    font-size:18px ;
}
#form-heading i {
    padding:10px ;
    font-size:16px ;
}
#form-box {
    padding:10px 20px ;
    position:relative ;
}
#form-box >div {
    margin-top:15px ;
}
div.alert {
    margin-bottom: 15px ;
    background-color:#f2dede ;
    font-size:12px ;
    box-sizing: border-box;
    padding:5px 10px ;
    color:#444 ;
    display:none ;
}
input {
    width:100% ;
    box-sizing: border-box;
    height:30px ;
    margin-top:5px ;
    padding:5px 10px ;
    font-size:12px ;
    outline:0.2px solid #aaa ;
    border:none ;
}
input[type="submit"] {
    height:35px ;
    background-color: #fc7e2f;
    border:none ;
    color:white ;
    font-size:16px ;
    margin-top:15px ;
}
input:focus {
    outline-color:#333 ;
    height:40px ;
}
input[type="submit"]:hover {
    border:1px solid white ;
    cursor: pointer;
}
#signup {
    margin-top:25px ;
    margin-bottom:20px ;
    font-size:14px ;
    margin-left :10px ;
    color:#333 ;
}
#signup a {
    text-decoration:none ;
    color:#fc7e2f ;
    font-size:16px ;
    margin-left:4px ;
}