* {
    padding:0 ;
    margin:0 ;
}
/*navigation bar styling */
header {
    background-color: #333;
    position: sticky;
    top:0px ;
    z-index: 10 ;
}
nav {
    max-width: 1200px;
    margin:0px auto ;
    height:50px ;
    line-height: 50px ;
}
span.logo img {
    box-sizing: border-box;
    padding-top: 8px ;
    display: inline-block ;
}
#nav-icon {
    display: none;
}
ul.menu-items {
    list-style-type: none;
    margin:0 ;
    padding:0 ;
    float:right ;
}
ul.menu-items li {
    display:inline ;
}
ul.menu-items li a{
    text-decoration: none;
    padding:5px ;
    color:white ;
}
ul.menu-items li a.active-link {
    color:#fc7e2f ;
}
ul.menu-items li:hover a{
    color:#fc7e2f;
}
/* heading section styling  */
section#heading {
    background-color: #eee;
    min-height:120px ;
    display:fixed ;
    top:0 ;
}
section#heading div {
    max-width:1200px ;
    margin:0 auto ;
    line-height:120px ;
    position:relative ;
    top:0 ;
}
#text {
    position:absolute ;
    display:block;
    bottom:0% ;
    font-family:verdena ;
    right:0% ;
    font-size:25px ;
    font-weight: lighter;
    right:10% ;
}
 /* form section  */
 section#main-section {
    max-width:750px ;
    margin:40px auto ;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
 }
 #signup_heading {
    border-bottom:0.2px solid #999 ;
    font-size:25px ;
    color:#666 ;
    font-weight: lighter;
    text-align:center ;
    padding:20px ;
}
 #signup_heading span {
     font-weight: bold;
 }
 /* form container  */
 #form-container {
    max-width:750px ;
    margin:40px auto ;
    border:1px solid #888 ;
    background-color:#f4f4f4 ;
}
#form-container #form-heading {
    background-color: #555;
    color:white ;
    font-size:18px ;
}
#form-heading i {
    padding:10px ;
    font-size:16px ;
}
/* form box  */
#form-box {
    box-sizing: border-box;
    padding:15px ;
    color:#666 ;
    font-size:14px ;
}
#compulsory_field {
    font-size:10px ;
    margin:10px 0px 15px 0px ;
}
div.input_div  {
    width:50% ;
    float:left ;
    margin-bottom:20px ;
}
div#user_div , div#sign_up_div  {
    width:100% ;
    margin-bottom:20px ;
}
input { 
    width:90% ;
    margin-top:5px ;
    height:30px ;
    box-sizing: border-box;
    padding:5px 20px ;
 }
 input:focus {
     border:1px solid #777 ;
     outline:none ;
 }
 div#user_div input , div#sign_up_div input {
    width:95% ;
}
div#sign_up_div input {
    background-color: #fc7e2f;
    border:none ;
    color:white ;
    font-size:12px ;
}
div.alert {
    width:90% ;
    background-color:#f2dede;
    visibility:hidden ;
    box-sizing: border-box;
    height:22px ;
    padding:5px 10px ;
    font-size:12px ;
    overflow: auto;
}
div#user_div .alert {
    width:95% ;
    visibility: hidden;
}
div#pass_div label i {
    padding:0 ;
    color:black ;
    font-size:14px ;
    cursor:pointer ;
}
div#pass_div {
    position:relative ;
}
div#information_box {
    position:absolute ;
    height:80px ;
    font-size:10px ;
    width:150px ;
    padding:4px ;
    z-index:17 ;
    top:-100px ;
    background-color: #ddd;
    border-radius:10px ;
    display:none ;
}
div#information_box ul {
list-style-type: none ;
}
div#information_box span {
    font-weight: bold ;
}
#information_box::after {
    content: " ";
    position:absolute ;
    top:100% ;
    left:50% ;
    border-width: 8px ;
    border-style: solid;
    border-color: #ddd transparent  transparent  transparent  ;
}
/* footer  */
footer {
    background-color: #333;
    text-align: center;
    padding:20px 10px ;
    color:white ;
}
.fa {
    padding:15px ;-
    font-size:20px ;
    width:20px ;
    text-align:center ;
    text-decoration: none;
    margin:3px 1px ;
    color:white ;
    border-radius:17px ;
}
.fa-facebook {
    background:#3b5998 ;
}
.fa-google {
    background:#dd4b39 ;
}
.fa-youtube {
    background:#125688 ;
}
.fa-instagram {
    background: #cb2027 ;
}

@media ( max-width:768px) {
    /* navigation bar styling */
    ul.menu-items {
        float:left ;
        clear:left ;
        width:100%;
        text-align:center ;
        line-height:25px ;
        font-size:12px ;
    }
    ul.menu-items li {
        display:inline-block;
        background-color:#444; 
        color:white ;
        width:100% ;
    }
    ul.menu-items li:hover a {
        color:#fc7e2f;
    }
    #nav-icon {
        display: block;
        float:right ;
        height:50px ;
        width:50px ;
        text-align: center;
        font-size: 30px ;
        background-color:#111 ;
        color:white ;
        cursor:pointer ;
    }
     .toggle  {
        display:none ;
    }
     .collapse {
        display:block;
     }
    .collapse li {
        display: inline-block !important;
    }        
    #nav-icon:before {
        content:'\f0c9 ' ;
        font-family: fontAwesome;
    }
    /* form styling  */
    div.input_div {
        width:100% ;
        clear:both ;
    }
    input {
        width:100% ;
    }
    div.alert {
        width:100% ;
    }
    div#user_div input , div#sign_up_div input {
        width:100% ;
    }
    div#user_div .alert {
        width:100% ;
    }
}