* {
    padding:0 ;
    margin:0 ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* heading section styling  */
section#heading {
    background-color: #eee;
    min-height:120px ;
    display:fixed ;
    top:0 ;
}
section#heading div {
    max-width:1200px ;
    margin:0 auto ;
    line-height:120px ;
    position:relative ;
    top:0 ;
}
#text {
    position:absolute ;
    display:block;
    bottom:0% ;
    font-family:verdena ;
    right:0% ;
    font-size:25px ;
    font-weight: lighter;
    right:10% ;
}
 /* form section  */
 section#main-section {
    max-width:750px ;
    margin:40px auto ;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding:10px ;
 }
 #signup_heading {
    border-bottom:0.2px solid #999 ;
    font-size:25px ;
    color:#666 ;
    font-weight: lighter;
    text-align:center ;
    padding:20px ;
}
 #signup_heading span {
     font-weight: bold;
 }
 /* form container  */
 #form-container {
    max-width:750px ;
    margin:40px auto ;
    border:1px solid #888 ;
    background-color:#f4f4f4 ;
    box-shadow:3px 3px 5px 2px #bbb ;
}
#form-container #form-heading {
    background-color: #555;
    color:white ;
    font-size:18px ;
}
#form-heading i {
    padding:10px ;
    font-size:16px ;
}
/* form box  */
#form-box {
    box-sizing: border-box;
    padding:15px ;
    color:#666 ;
    font-size:14px ;
}
#compulsory_field {
    font-size:10px ;
    margin:10px 0px 15px 0px ;
}
div.input_div  {
    width:50% ;
    float:left ;
    margin-bottom:20px ;
}
div#user_div , div#sign_up_div  {
    width:100% ;
    margin-bottom:20px ;
}
input { 
    width:90% ;
    margin-top:5px ;
    height:30px ;
    box-sizing: border-box;
    padding:5px 20px ;
 }
 input:focus {
     border:1px solid #777 ;
     outline:none ;
 }
 div#user_div input , div#sign_up_div input {
    width:95% ;
}
div#sign_up_div input {
    background-color: #fc7e2f;
    border:none ;
    color:white ;
    font-size:12px ;
}
input[type="submit"] {
    height:40px ;
}
input[type="submit"]:hover {
    border:2px solid white ;
    cursor: pointer;
}
div.alert {
    width:90% ;
    background-color:#f2dede;
    visibility:hidden ;
    box-sizing: border-box;
    height:22px ;
    padding:5px 10px ;
    font-size:12px ;
    overflow: auto;
}
div#user_div .alert {
    width:95% ;
    visibility: hidden;
}
div#pass_div label i {
    padding:0 ;
    color:black ;
    font-size:14px ;
    cursor:pointer ;
}
div#pass_div {
    position:relative ;
}
div#information_box {
    position:absolute ;
    height:80px ;
    font-size:10px ;
    width:150px ;
    padding:4px ;
    z-index:17 ;
    top:-100px ;
    background-color: #ddd;
    border-radius:10px ;
    display:none ;
}
div#information_box ul {
list-style-type: none ;
}
div#information_box span {
    font-weight: bold ;
}
#information_box::after {
    content: " ";
    position:absolute ;
    top:100% ;
    left:50% ;
    border-width: 8px ;
    border-style: solid;
    border-color: #ddd transparent  transparent  transparent  ;
}
@media ( max-width:768px) {
    /* form styling  */
    div.input_div {
        width:100% ;
        clear:both ;
    }
    input {
        width:100% ;
    }
    div.alert {
        width:100% ;
    }
    div#user_div input , div#sign_up_div input {
        width:100% ;
    }
    div#user_div .alert {
        width:100% ;
    }
}