* {
    padding:0 ;
    margin:0 ;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}
/* heading  */ 
#heading {
    background-color: #e66120;
    color:white ;
    box-sizing: border-box;
    padding:20px ;
    text-align: center;
}
section#heading span {
    border-bottom:1px solid white ;
    box-sizing: border-box;
    padding-bottom: 10px ;
    display: block ;
    font-size:40px ;
    padding-left:30px ;
}
section#heading i {
    margin-left:20px ;
    font-size: 40px ;
}
/* main-section  */
section#main-section {
    margin:0 auto ;
    padding:40px ;
    background-color: whitesmoke ;
}
div#main-section-div {
    max-width:1200px ;
    margin:0 auto ;
    display:grid ;
    grid-template-columns: 3fr 2fr ;
    grid-gap: 2rem ;
}
div.text-heading {
    font-size:25px ;
}
div.text-heading span {
    color:#aaa ;
    font-size:18px ;
    line-height: 0.8;
}
div.text-heading span i {
    color:black ;
}
/* accordion */
div.accordion {
    border:1px solid #aaa ;
    margin-top:10px ;
}
div.accordion-title {
    position:relative ;
    box-sizing: border-box;
    padding:10px  ;
    background-color: #ddd;
}
div.accordion-title i:first-child {
    color:black ;
    font-size:25px ;
}
div.accordion-title i:nth-child(2) {
    position:absolute ;
    right:0% ;
    color:black ;
}
div.title-content {
    padding:10px ;
    line-height:1.5 ;
    border-top: 1px solid #aaa ; 
    display:none ;
}
div.title-content i {
    clear:left ;
    color:black ;
    border:1px solid #aaa ;
    margin-top:20px ;
}
div.title-content span {
    font-size:18px ;
    color:#aaa ;
}
/* flight booking */
div.flight-booking {
    background-color:#e66120 ;
    line-height:1.5 ;
    font-size:14px ;
    color:white ;
    align-self:start ;
    padding:30px ;
}
div.booking-confirmation {
    text-align:center ;
    margin:10px ;
    color:white ;
    font-size: 20px ;
}
input , select {
    width:100%; 
    height:40px ;
}
input[type="submit"] {
    margin-top:30px ;
    border-radius:5px ;
    background-color: #333;
    color:white ;
    outline:none ;
    border:none ;
}
input[type="submit"]:hover {
    cursor:pointer ;
    border:1px solid white;
}
@media ( max-width:768px) { 
    /* main-section  */
    section#main-section {
        padding:10px ;
    }
    div#main-section-div {
        display:block ;
        margin-bottom:10px ;
    }
    div.flight-booking {
        margin-top: 10px ;
    }
}
